body {
    margin: 0;
 }  

a{
    transition: color 0.3s;
    text-decoration: none;
    color: blue;
}

a:hover{
    color: darkorange;
}

header {
    width: 100%;
    background-color: rgb(222, 255, 231);
    color: rgb(8, 89, 6);
    height: 60px;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;    
}

.headerlogo {
    font-size: 30px;
    font-family: HGP創英角ﾎﾟｯﾌﾟ体;
    padding-left: 60px;
}

header li{
    font-size: 18px;
    list-style: none;
    float: left;
    padding-left: 50px;
    padding-bottom: 10px;
    font-family: HG正楷書体-PRO;
}


.main {
    text-align: center;
    width: 100%;
    background-color: rgb(253, 255, 219);
}

h1{
    font-size: 50px;
    border-bottom: solid black 3px;
    padding-top: 100px;
    
}

input{
    height: 20px;
    width: 230px;
    font-size: 15px;
    text-align: center;
}

textarea{
    height: 250px;
    width: 500px;
    font-size: 15px;
    resize: none;
}

.btn{
    margin-bottom: 40px;
    height: 30px;
    width: 60px;
}


.footer{
    width: 100%;
    background-color: rgb(220, 254, 255);
    float: left;
    height: 110px;
    text-align: center;
}

.footerlist li{    
    font-family: HG正楷書体-PRO;
    font-size: 15px;
    list-style: none;
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
    display: inline-block; 
}