body {
        margin: 0;
}

a{
    transition: color 0.3s;
    text-decoration: none;
    color: blue;
}

a:hover{
    color: darkorange;
}

header {
    width: 100%;
    background-color: rgb(222, 255, 231);
    color: rgb(8, 89, 6);
    height: 60px;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
}

.toplogo {
    font-size: 30px;
    font-family: HGP創英角ﾎﾟｯﾌﾟ体;
    padding-left: 60px;
}

header li{
    font-size: 18px;
    list-style: none;
    float: left;
    padding-left: 50px;
    padding-bottom: 10px;
    font-family: HG正楷書体-PRO;
}


.topmain{
    text-align: center;
    width: 100%;
    background-color: rgb(253, 255, 219);
}

.topmain {
  display: flex;
  flex-wrap: wrap;
}

.pictext{
    position: absolute;
    width: 100%;
    left: 0; 
    top: calc(35% - 170px); 
    text-align: center; 
    color: darkblue; 
    font-weight: bold; 
    font-size: 50px;
    line-height: 50px;
}

.pic1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

footer{
    width: 100%;
    background-color: rgb(220, 254, 255);
    float: left;
    height: 110px;
    text-align: center;    
}


.topfooterlist li{    
    font-family: HG正楷書体-PRO;
    font-size: 15px;
    list-style: none;
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
    display: inline-block;    
}
